<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
    <title>board</title>
    <style>
        .list thead tr th{border-bottom:2px solid #ddd; color:#555;}
        .list tbody tr td,.list tbody tr th {text-align: center; padding:3px 10px;}
    </style>
  </head>
  <body>
    <h1>목록 추가하기</h1>
    <hr>

    <form action="/create" method="POST">
        <table>
            <tr>
                <td>
                    <input type="text" name="inputTitle" placeholder="제목을 입력하세요.">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="inputWriter" placeholder="작성자를 입력하세요.">
                </td>
            </tr>
        </table>
        <input type="submit" value="게시글 작성">
    </form>
<br>
</br>
    <table class="list">
        <thead>
            <tr>
                <th colspan="5">
                    <h2> 게시물 조회하기 </h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(let post of posts) { %>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>*</th>
                </tr>
                <tr>
                    <td><%= post.title %></td>
                    <td><%= post.writer %></td>
                    <td><%= post.createdAt %></td>
                    <td><button><a href="/edit/<%=post.id%>">수정하기</a></button></td>
                    <td><button><a href="/delete/<%=post.id%>">삭제하기</a></button></td>
                </tr>
                <tr>
                    <td colspan="5"><hr></td>
                </tr>

                <form action="/reply/<%=post.id%>" method="post">
                    <tr>
                        <td><input type="text" name="replyWriter" placeholder="작성자를 입력하세요"/></td>
                        <td><input type="text" name="replyContent" placeholder="내용을 입력하세요"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="댓글등록"></td>
                    </tr>
                </form>

                <% if(post.replies) { %>
                    <% for(let reply of post.replies) { %>
                        <tr>
                            <td><%= reply.dataValues.writer %></td>
                            <td><%= reply.dataValues.content %></td>
                        </tr>
                    <% } %>
                <% } %>
            <% } %>

        </tbody>
    </table>
  </body>
</html>
